<div  class="text-center mt-5 getList">
  <div class="row ">
    <div class="col-12">
      <h4>GET ON THE LIST</h4>
    </div>
    <div class="col-12">
      <p>and be the first to shop new products</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <input type="text" placeholder="Enter your email here*" />
    </div>
    <div class="col-12 mt-1">
      <button class="btn text-light" style="background-color: #a3c7bd;">
        Subscribe Now
      </button>
    </div>
  </div>
</div>
