<header>
  <nav>
    <div class="row">
      <div class="col-12">
        <ul class="primerNavbar">
          <li>
            <i class="fi-interface-user mr-2"></i>
            <span>Log In</span>
          </li>
          <li class="text-center">
            <span>
              FREE SHIPPING
            </span>
          </li>
          <li>
            <i class="fi-ecommerce-shopping-bag-2"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul class="segundoNavBar">
          <li routerLink="">WALMART</li>
          <li>
            PRODUCTOS
            <ul>
              <li routerLink="smartphone">SMARTPHONES</li>
              <li routerLink="lineaBlanca">LINEA BLANCA</li>
              <li routerLink="fotografia">FOTOGRAFIA</li>
            </ul>
          </li>
          <li>CUSTOM CARE</li>
          <li>VISIT US</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
